{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ferretería</title>
    <link rel="stylesheet" href="{% static 'core/styles.css' %}">
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Cerrar sesión</a>
            <a href="{% url 'ver_carrito' %}">Carrito</a> 
            <a href="{% url 'home' %}">Inicio</a> 
        {% else %}
            <a href="{% url 'login' %}">Iniciar sesión</a> |
            <a href="{% url 'register' %}">Registrarse</a>
        {% endif %}
    </nav>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>